body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #424242;
    color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counters {
    display: flex;
    justify-content: space-around;
}

.message-wrapper {
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: center;
}

.commands {
    display: flex;
    flex-direction: column;

}

.commands > p {
    align-self: center;
    margin-bottom: 5px;
}

.buttons {
    margin-top: 10px;
    width: 225px;
    display: flex;
    justify-content: space-between;
}

button {
    margin-top: 0;
    padding: 15px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid #fafafa;
    cursor: pointer;
    background-color: inherit;
    color: #fafafa;
}

button:hover {
    background-color: #686868;
    color: #292929;
    border: none;
}

.option {
    border-radius: 50%;
}

.option:disabled, .option:disabled:hover {
    color: #686868;
    background-color: inherit;
    border: 1px solid #686868;
    cursor: not-allowed;
}

.wrapper:has(.play-again) {
    padding: 40px;
}

.play-again {
    border-radius: 35px;
}

.hidden {
    display: none;
}